@import "variables";
@import "header";
@import "footer";

body{
    background-color: #f9f9f9;
}

h2 {
    margin: 0;
}
button {
    padding: 0;
}
h3 {
    margin: 0;
}

ul {
    padding: 0;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}