<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog_2</title>
    <link rel="stylesheet" href="./css/vendor.min.css">
    <link rel="stylesheet" href="./css/googleFonts.css">
    <link rel="stylesheet" href="./css/home.min.css">
    <link rel="stylesheet" href="./css/blog_2_home.min.css">
</head>

<body>
    <header class="header">
        <div class="orange_header">
            <div class="top_header_container">
                    <div class="top_header_container_items">
                        <span class="top_header_login">Register for FREE!</span>
                        <span class="top_header_login">|</span>
                        <span class="top_header_login">Login</span>
                    </div>
                    <div class="top_header_container_contacts">
                        <span class="phone_namber"><i class="fas fa-phone"></i> +009 998 885 550</span>
                        <span class="mail"><i class="fas fa-envelope"></i>Youremaillhere@gmail.com</span>
                    </div>
                    <div class="top_header_container_items">
                        <a href="#" class="header_sosial_links"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="header_sosial_links"><i class="fab fa-behance"></i></a>
                        <a href="#" class="header_sosial_links"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="header_sosial_links"><i class="fab fa-vimeo-v"></i></a>
                        <a href="#" class="header_sosial_links"><i class="fab fa-twitter"></i></a>
                    </div>
            </div>
        </div>
        <div class="gray_header">
                <div class="gray_header_container">
                    <img src="../images/SEO.png" alt="" class="header_logo">
                    <nav class="header_navigation">
                        <ul class="header_navigation_list">
                            <li class="header_navigation_item">
                                <a href="#" class="header_navigation_link">
                                    home
                                </a>
                                <i class="fas fa-angle-right"></i>
                            </li>
                            <li class="header_navigation_item">
                                <a href="#" class="header_navigation_link">
                                    about
                                </a>
                                <i class="fas fa-angle-right"></i>
                            </li>
                            <li class="header_navigation_item">
                                <a href="#" class="header_navigation_link">
                                    service
                                </a>
                                <i class="fas fa-angle-right"></i>
                            </li>
                            <li class="header_navigation_item">
                                <a href="#" class="header_navigation_link">
                                    case study
                                </a>
                                <i class="fas fa-angle-right"></i>
                            </li>
                            <li class="header_navigation_item">
                                <a href="#" class="header_navigation_link">
                                    blog
                                </a>
                                <i class="fas fa-angle-right"></i>
                            </li>
                            <li class="header_navigation_item">
                                <a href="#" class="header_navigation_link">
                                    page
                                </a>
                                <i class="fas fa-angle-right"></i>
                            </li>
                            <li class="header_navigation_item">
                                <a href="#" class="header_navigation_link">
                                    contact
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <button class="top_header_button">free seo analyze</button>
                </div>
        </div>

        <div class="header_title">
            <img src="../images/rbig.jpg" alt="">
            <h1 class="header_title_sidebar">Sidebar Blog</h1>
        </div>
        
    </header>

    <main class="main">
        <div class="main_container">
            <div class="main_wrapper">
                 <div class="blog_container">
                    <img class="blog_img" src="../images/rbig.jpg" alt="">
                    <div class="blog_date">
                        <h2>24 Fub 2018</h2>
                    </div>
                    <div class="blog_wrapper">
                        <h3>Clients Orders On His Phone To Our Team</h3>
                        <span>Lorem ipsum dolor sit amet, consectetur 
                            adipisicing elit, tosed do eiusmod  Lproad 
                            ivsum syplor sit amet, to a bonsectetur 
                            pydipisicing elit, in tak  eiusmoy tempor 
                            incididunt
                        </span>
                        <a href="#">Loren More...</a>
                    </div>
                 </div>
                <div class="blog_container">
                    <img class="blog_img" src="../images/rbig.jpg" alt="">
                    <div class="blog_date">
                        <h2>24 Fub 2018</h2>
                    </div>
                    <div class="blog_wrapper">
                        <h3>Clients Orders On His Phone To Our Team</h3>
                        <span>Lorem ipsum dolor sit amet, consectetur 
                            adipisicing elit, tosed do eiusmod  Lproad 
                            ivsum syplor sit amet, to a bonsectetur 
                            pydipisicing elit, in tak  eiusmoy tempor 
                            incididunt
                        </span>
                        <a href="#">Loren More...</a>
                    </div>
                 </div>
                 <div class="blog_container">
                    <img class="blog_img" src="../images/rbig.jpg" alt="">
                    <div class="blog_date">
                        <h2>24 Fub 2018</h2>
                    </div>
                    <div class="blog_wrapper">
                        <h3>Clients Orders On His Phone To Our Team</h3>
                        <span>Lorem ipsum dolor sit amet, consectetur 
                            adipisicing elit, tosed do eiusmod  Lproad 
                            ivsum syplor sit amet, to a bonsectetur 
                            pydipisicing elit, in tak  eiusmoy tempor 
                            incididunt
                        </span>
                        <a href="#">Loren More...</a>
                    </div>
                 </div> 
                 <div class="main_pages">
                        <button class="pages__button arrow"><i class="fas fa-angle-left"></i></button>
                        <button class="pages__button">1</button>
                        <button class="pages__button">2</button>
                        <button class="pages__button">3</button>
                        <button class="pages__button">4</button>
                        <button class="pages__button">5</button>
                        <button class="pages__button arrow"><i class="fas fa-angle-right"></i></button>
                </div>
            </div>
            <aside class="main_aside">
                <div class="main_aside_input">
                    <input class="aside_input" placeholder="Search..." type="text">
                    <button class="input_button"><i class="fas fa-search"></i></button>
                </div>


                <div class="main_aside_container">
                    <h3 class="aside_container_title">
                            Categories...
                    </h3>
                    <div class="aside_categories_wrapper">
                        <ul class="categories_list">
                            <li class="categories_item">
                                <a href="#" class="categories_link">Web Develoment</a>
                                <p class="categories_cout">(07)</p>
                            </li>
                            <li class="categories_item">
                                <a href="#" class="categories_link">Graohic Design  </a>
                                <p class="categories_cout">(21)</p>
                            </li>
                            <li class="categories_item">
                                <a href="#" class="categories_link">Seo Markting</a>
                                <p class="categories_cout">(09)</p>
                            </li>
                            <li class="categories_item">
                                <a href="#" class="categories_link">Android Development</a>
                                <p class="categories_cout">(13)</p>
                            </li>
                            <li class="categories_item">
                                <a href="#" class="categories_link">Others</a>
                                <p class="categories_cout">(33)</p>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="main_aside_container">
                    <h3 class="aside_container_title">
                            Recent News...
                    </h3>
                    <div class="aside_news_wrapper">
                       <div class="news_wrapper">
                           <img class="news_img" src="../images/whichlaptop.jpg" alt="">
                           <div class="news_text">
                               <a class="news_text_link" href="#">Your Blog Title Here</a>
                               <p class="news_text_date" >20 Mar, 2017</p>
                           </div>
                       </div>
                    </div>
                    <div class="aside_news_wrapper">
                       <div class="news_wrapper">
                           <img class="news_img" src="../images/whichlaptop.jpg" alt="">
                           <div class="news_text">
                               <a class="news_text_link" href="#">Your Blog Title Here</a>
                               <p class="news_text_date" >20 Mar, 2017</p>
                           </div>
                       </div>
                    </div>
                    <div class="aside_news_wrapper">
                       <div class="news_wrapper">
                           <img class="news_img" src="../images/whichlaptop.jpg" alt="">
                           <div class="news_text">
                               <a class="news_text_link" href="#">Your Blog Title Here</a>
                               <p class="news_text_date" >20 Mar, 2017</p>
                           </div>
                       </div>
                    </div>
                    <div class="aside_news_wrapper">
                       <div class="news_wrapper">
                           <img class="news_img" src="../images/whichlaptop.jpg" alt="">
                           <div class="news_text">
                               <a class="news_text_link" href="#">Your Blog Title Here</a>
                               <p class="news_text_date" >20 Mar, 2017</p>
                           </div>
                       </div>
                    </div>
                </div>

                <div class="main_aside_container">
                        <h3 class="aside_container_title">
                                Keyword...
                        </h3>
                        <div class="aside_categories_wrapper">
                            <ul class="Keyword_list">
                                <li class="Keyword_item">
                                    <a href="#" class="Keyword_link">Web Develoment</a>                                    
                                </li>
                                <li class="Keyword_item">
                                    <a href="#" class="Keyword_link">Website</a>
                                </li>
                                <li class="Keyword_item">
                                    <a href="#" class="Keyword_link">Web design</a>
                                </li>
                                <li class="Keyword_item">
                                    <a href="#" class="Keyword_link">Seo marketing</a>
                                </li>
                                <li class="Keyword_item">
                                    <a href="#" class="Keyword_link">Keyword</a>
                                </li>
                                <li class="Keyword_item">
                                    <a href="#" class="Keyword_link">Bbook</a>
                                </li>
                                <li class="Keyword_item">
                                    <a href="#" class="Keyword_link">Education</a>
                                </li>
                                <li class="Keyword_item">
                                    <a href="#" class="Keyword_link">Writer</a>
                                </li>
                            </ul>
    
                        </div>
                </div>

            </aside>
        </div> 
        <div class="main_pages_container">
            
        </div>
    </main>

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_wrapper">
                <div>
                    <img src="../images/SEO_2.png" alt="" class="seo_logo_footer">
                </div>
                <p class="footer_seo_text">Lorem ipsum dolor sit amet, consectetur the shape adipisicing elit, sed do
                    eiusmod tempor incididunt a ut labore Lorem ipsum dolor sit amet, consectetur i adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore end
                </p>
                <p class="footer_seo_text">Lorem ipsum dolor sit amet, consectetur shape to a adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore
                </p>
                <p class="footer_seo_text">Lorem ipsum dolor sit amet, consectetur tob the a in araaadipisicing elit,
                    sed do eiusmod
                </p>
            </div>
            <div class="footer_wrapper">
                <h4 class="footer_title">
                    contact with us
                </h4>
                <input placeholder="Your Name Here*" type="text" class="footer_contact_input">
                <input placeholder="Your Email Here*" type="text" class="footer_contact_input">
                <input placeholder="Messages*" type="text" class="footer_contact_input_messenger">
                <button class="footer_button">Submit</button>
            </div>
            <div class="footer_wrapper">
                <h4 class="footer_title">
                    latest news
                </h4>
                <p class="footer_news_text">How can be successfull in market seo.maza Market place..</p>
                <p class="footer_news_data">13 Feb, 2016 / Business</p>
                <p class="footer_news_text">How can be successfull in market seo.maza Market place..</p>
                <p class="footer_news_data">13 Feb, 2016 / Business</p>
                <p class="footer_news_text">How can be successfull in market seo.maza Market place..</p>
                <p class="footer_news_data">13 Feb, 2016 / Business</p>
            </div>
        </div>
        <div class="footer_copyright">
            <span>Copyright © 2018 All Right by Thememarshall..</span>
        </div>

    </footer>

</body>

</html>