<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/seomaza/css/header.css">
    <link rel="stylesheet" href="/seomaza/css/main.css">
    <link rel="stylesheet" href="/seomaza/css/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Nunito|Poppins|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
   <header class="header"> 
       <div class="top_header">
           <div class="orange_header">
               <div class="top_header_container">
                   <div class="top_header_container_items">
                       <span class="top_header_login">Register for FREE!</span>
                       <span class="top_header_login">|</span>
                       <span class="top_header_login">Login</span>
                   </div>
                   <div class="top_header_container_contacts">
                       <span class="phone_namber"><i class="fas fa-phone"></i> +009 998 885 550</span>
                       <span class="mail"><i class="fas fa-envelope"></i>Youremaillhere@gmail.com</span>
                   </div>
                   <div class="top_header_container_items">
                       <i class="fab fa-facebook-f"></i>
                       <i class="fab fa-behance"></i>
                       <i class="fab fa-linkedin-in"></i>
                       <i class="fab fa-vimeo-v"></i>
                       <i class="fab fa-twitter"></i>
                   </div>
               </div>
           </div>
           <div class="gray_header">
               <div class="gray_header_container">
                   <img src="../images/SEO.png" alt="" class="header_logo">  
                   <nav class="header_navigation">
                       <ul class="header_navigation_list">
                           <li class="header_navigation_item">
                               <a href="#" class="header_navigation_link">
                                   home
                               </a>
                               <i class="fas fa-angle-right"></i>
                           </li>
                           <li class="header_navigation_item">
                               <a href="#" class="header_navigation_link">
                                   about
                               </a>
                               <i class="fas fa-angle-right"></i>
                           </li>
                           <li class="header_navigation_item">
                               <a href="#" class="header_navigation_link">
                                   service
                               </a>
                               <i class="fas fa-angle-right"></i>
                           </li>
                           <li class="header_navigation_item">
                               <a href="#" class="header_navigation_link">
                                   case study
                               </a>
                               <i class="fas fa-angle-right"></i>
                           </li>
                           <li class="header_navigation_item">
                               <a href="#" class="header_navigation_link">
                                   blog
                               </a>
                               <i class="fas fa-angle-right"></i>
                           </li>
                           <li class="header_navigation_item">
                               <a href="#" class="header_navigation_link">
                                   page
                               </a>
                               <i class="fas fa-angle-right"></i>
                           </li>
                           <li class="header_navigation_item">
                               <a href="#" class="header_navigation_link">
                                   contact
                               </a>
                           </li>
                       </ul>
                   </nav>
                   <button class="top_header_button">free seo analyze</button>
               </div>
           </div>
       </div>
       
       <div class="main_header">
           <div class="main_header_container">
               <div class="main_header_wrapper">
                   <span class="main_header_title"> Improve Your
                        <span class="one">Website's</span> Rank On
                        With Us...!
                    </span>
                    <span class="main_header_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do so w eiusmod to a tempor incididunt ut labore et dolore magna ali</span>
                    <span class="main_header_text"><i class="fas fa-check"></i>Lorem ipsum dolor sit amet, consectetur</span>
                    <span class="main_header_text"><i class="fas fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisi top</span>
                    <button class="main_header_button">Loren More</button>
               </div>
               <div class="main_header_img">
                   <img src="../images/images_1.png" alt="">
               </div>
           </div>
       </div>
   </header> 
   <footer class="footer">
        <div class="footer_container">
            <div class="footer_wrapper">
                <div>
                    <img src="../images/SEO_2.png" alt="" class="seo_logo_footer">
                </div>
                <p class="footer_seo_text">Lorem ipsum dolor sit amet, consectetur the shape adipisicing elit, sed do eiusmod tempor incididunt a ut labore Lorem ipsum dolor sit amet, consectetur i adipisicing elit, sed do eiusmod tempor incididunt ut labore end
                </p>
                <p class="footer_seo_text">Lorem ipsum dolor sit amet, consectetur shape to a adipisicing elit, sed do eiusmod tempor incididunt ut labore    
                </p>
                <p class="footer_seo_text">Lorem ipsum dolor sit amet, consectetur tob the a in  araaadipisicing elit, sed do eiusmod    
                </p>
            </div>
            <div class="footer_wrapper">
               <h4 class="footer_title">
                   contact with us
               </h4> 
               <input placeholder="Your Name Here*" type="text" class="footer_contact_input">
               <input placeholder="Your Email Here*" type="text" class="footer_contact_input">
               <input placeholder="Messages*" type="text" class="footer_contact_input_messenger">
               <button class="footer_button">Submit</button>
            </div>
            <div class="footer_wrapper">
                <h4 class="footer_title">
                    latest news
                </h4> 
                <p class="footer_news_text">How can be successfull in market seo.maza Market place..</p>
                <p class="footer_news_data">13 Feb, 2016 / Business</p>
                <p class="footer_news_text">How can be successfull in market seo.maza Market place..</p>
                <p class="footer_news_data">13 Feb, 2016 / Business</p>
                <p class="footer_news_text">How can be successfull in market seo.maza Market place..</p>
                <p class="footer_news_data">13 Feb, 2016 / Business</p>
            </div>
        </div>
        <div class="footer_copyright">
                <span>Copyright © 2018 All Right by Thememarshall..</span>
    
        </div>
        
   </footer>
   
</body>
</html>