<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/seomaza/css/header.css">
    <link rel="stylesheet" href="/seomaza/css/main.css">
    <link rel="stylesheet" href="/seomaza/css/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Nunito|Poppins|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
   <header class="header"> 
        <div class="top_header">
            <div class="top_header_container">
                <div class="top_header_container_items">
                    <span class="top_header_login">Register for FREE!</span>
                    <span class="top_header_login">|</span>
                    <span class="top_header_login">Login</span>
                </div>
                <div class="top_header_container_items">
                    <span class="phone_namber"><i class="fas fa-phone"></i> +009 998 885 550</span>
                    <span class="mail"><i class="fas fa-envelope"></i>Youremaillhere@gmail.com</span>
                </div>
                <div class="top_header_container_items">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-behance"></i>
                    <i class="fab fa-linkedin-in"></i>
                    <i class="fab fa-vimeo-v"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>
        <div class="gray_header">

        </div>
       
       <div class="main_header">
           
       </div>
   </header>
   <footer>
        <div class="footer_container">
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
        </div>
        
   </footer>
   
</body>
</html>