<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="./css/vendor.min.css">
    <link rel="stylesheet" href="./css/googleFonts.css">
    <link rel="stylesheet" href="./css/home.min.css">
</head>

<body>
    <header class="header">
        <div class="top_header">
            <div class="orange_header">
                <div class="top_header_container">
                    <div class="top_header_container_items">
                        <span class="top_header_login">Register for FREE!</span>
                        <span class="top_header_login">|</span>
                        <span class="top_header_login">Login</span>
                    </div>
                    <div class="top_header_container_contacts">
                        <span class="phone_namber"><i class="fas fa-phone"></i> +009 998 885 550</span>
                        <span class="mail"><i class="fas fa-envelope"></i>Youremaillhere@gmail.com</span>
                    </div>
                    <div class="top_header_container_items">
                        <a href="#" class="header_sosial_links"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="header_sosial_links"><i class="fab fa-behance"></i></a>
                        <a href="#" class="header_sosial_links"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="header_sosial_links"><i class="fab fa-vimeo-v"></i></a>
                        <a href="#" class="header_sosial_links"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="gray_header">
                <div class="gray_header_container">
                    <img src="../images/SEO.png" alt="" class="header_logo">
                    <nav class="header_navigation">
                        <ul class="header_navigation_list">
                            <li class="header_navigation_item">
                                <a href="./home.htmlz" class="header_navigation_link">
                                    home
                                </a>
                                <i class="fas fa-angle-right"></i>
                            </li>
                            <li class="header_navigation_item">
                                <a href="#" class="header_navigation_link">
                                    about
                                </a>
                                <i class="fas fa-angle-right"></i>
                            </li>
                            <li class="header_navigation_item">
                                <a href="./service.html" class="header_navigation_link">
                                    service
                                </a>
                                <i class="fas fa-angle-right"></i>
                            </li>
                            <li class="header_navigation_item">
                                <a href="#" class="header_navigation_link">
                                    case study
                                </a>
                                <i class="fas fa-angle-right"></i>
                            </li>
                            <li class="header_navigation_item">
                                <a href="./blog.html" class="header_navigation_link">
                                    blog
                                </a>
                                <i class="fas fa-angle-right"></i>
                            </li>
                            <li class="header_navigation_item">
                                <a href="#" class="header_navigation_link">
                                    page
                                </a>
                                <i class="fas fa-angle-right"></i>
                            </li>
                            <li class="header_navigation_item">
                                <a href="#" class="header_navigation_link">
                                    contact
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <button class="top_header_button">free seo analyze</button>
                </div>
            </div>
        </div>   
    </header>

    <main class="main">
        <div class="main_header">
            <div class="main_header_container">
                <div class="main_header_wrapper">
                    <span class="main_header_title"> Improve Your
                        <span class="one">Website's</span> Rank On
                        With Us...!
                    </span>
                    <span class="main_header_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do so w
                        eiusmod to a tempor incididunt ut labore et dolore magna ali</span>
                    <span class="main_header_text"><i class="fas fa-check"></i>Lorem ipsum dolor sit amet,
                        consectetur</span>
                    <span class="main_header_text"><i class="fas fa-check"></i>Lorem ipsum dolor sit amet, consectetur
                        adipisi top</span>
                    <button class="main_header_button">Loren More</button>
                </div>
                <div class="main_header_img">
                    <img src="../images/images_1.png" alt="">
                </div>
            </div>
        </div>
        <div class="main--container__aboute">
            <div class="aboute--title">
                <h2 class="orange">
                    Who
                </h2>
                <h2>
                    We Are?
                </h2>
            </div>
            <span class=" aboute__text">There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by injected
                humour, or randomised words
            </span>
            <div class="aboute__boxs_container">
                <div class="aboute__boxs">
                    <h4 class="title">Web Analytics</h4>
                    <span>Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore
                    </span>
                    <p>Loren More....</p>
                </div>
                <div class="aboute__boxs">
                    <h4 class="title">Digital Marketing</h4>
                    <span>Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore
                    </span>
                    <p>Loren More....</p>
                </div>
                <div class="aboute__boxs">
                    <h4 class="title">Web Analytics</h4>
                    <span>Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore
                    </span>
                    <p>Loren More....</p>
                </div>
            </div>
            <div class="information">
                <img class="information__img" src="../images/img_hero_1a@2x.png" alt="">
                <div class="information__wrapper">
                    <h1>Our Company Information...</h1>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut in labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud.abore et dolore magna to aliqua.
                        Ut enim ad minim veniam, quis nostrud.Lorem ipsum dolor sit amet,
                        consectetur to a the adipisicing elit, sed do eiusmod tempor incididunt
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut in labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud.abore et dolore magna tit aliqua. Ut enim ad minim
                        veniam, quis nostrud.
                    </span>
                    <span class="orange">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </span>
                    <div class="informaion_buttons">
                        <button class="information-button"> Loren More </button>
                        <button class="information-button"> Loren More </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_statistic">
            <div class="main_statistic_container">
                <div class="main_statistic_wrapper">
                    <i class="fas fa-suitcase"></i>
                    <p class="count">698+</p>
                    <p>Projects Done</p>
                </div>
                <div class="main_statistic_wrapper">
                    <i class="far fa-smile"></i>
                    <p class="count">263+</p>
                    <p>Happy Clients</p>
                </div>
                <div class="main_statistic_wrapper">
                    <i class="fas fa-trophy"></i>
                    <p class="count">69+</p>
                    <p>Awards wins</p>
                </div>
                <div class="main_statistic_wrapper">
                    <i class="fas fa-coffee"></i>
                    <p class="count">1500+</p>
                    <p>Cup of Coffee</p>
                </div>
            </div>
        </div>
        <div class="main_sercices">
            <div class="main_sercices_title">
                <h2 class="orange">Our</h2>
                <h2> Best Sercices</h2>
            </div>
            <span class="main_sercices_text">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
                injected humour, or randomised words
            </span>
            <div>
                <div class="sercices__boxs_container">
                    <div class="sercices__boxs">
                        <img class="sercices__box_img" src="../images/_Trazado_.png" alt="">
                        <h4 class="title">Web Analytics</h4>
                        <span>Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore
                        </span>
                        <p>Loren More....</p>
                    </div>
                    <div class="sercices__boxs">
                        <img src="../images/_Path_.png" alt="">
                        <h4 class="title">Digital Marketing</h4>
                        <span>Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore
                        </span>
                        <p>Loren More....</p>
                    </div>
                    <div class="sercices__boxs">
                        <img src="../images/_Trazado compuesto_.png" alt="">
                        <h4 class="title">Web Analytics</h4>
                        <span>Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore
                        </span>
                        <p>Loren More....</p>
                    </div>
                </div>
            </div>
            <button class="sercices-button"> Full Services </button>
        </div>
        <div class="main__studio__container">
            <div class="main__case__studio">
                <div class="main_sercices_title">
                    <h2 class="orange">Our</h2>
                    <h2> Case Studio</h2>
                </div>
                <span class="main_studio_text">
                    There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by
                    injected humour, or randomised words
                </span>
                <div class="studio__boxs__container">
                    <div class="studio__boxs__container_1">
                        <div class="studio_box_wrapper">
                            <img class="studio_img" src="../images/case-study1.png" alt="">
                            <div class="box__title">
                                <h3>
                                    Web Traffic Management
                                </h3>
                                <p>
                                    SEO, Marketing
                                </p>
                            </div>
                        </div>
                        <div class="studio_box_wrapper orange">
                            <img class="studio_img" src="../images/case-study1.png" alt="">
                            <div class="box__title">
                                <h3>
                                    Web Traffic Management
                                </h3>
                                <p>
                                    SEO, Marketing
                                </p>
                            </div>
                        </div>
                        <div class="studio_box_wrapper">
                            <img class="studio_img" src="../images/case-study1.png" alt="">
                            <div class="box__title">
                                <h3>
                                    Web Traffic Management
                                </h3>
                                <p>
                                    SEO, Marketing
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="studio__boxs__container_1">
                        <div class="studio_box_wrapper">
                            <img class="studio_img" src="../images/case-study1.png" alt="">
                            <div class="box__title">
                                <h3>
                                    Web Traffic Management
                                </h3>
                                <p>
                                    SEO, Marketing
                                </p>
                            </div>
                        </div>
                        <div class="studio_box_wrapper orange">
                            <img class="studio_img" src="../images/case-study1.png" alt="">
                            <div class="box__title">
                                <h3>
                                    Web Traffic Management
                                </h3>
                                <p>
                                    SEO, Marketing
                                </p>
                            </div>
                        </div>
                        <div class="studio_box_wrapper">
                            <img class="studio_img" src="../images/case-study1.png" alt="">
                            <div class="box__title">
                                <h3>
                                    Web Traffic Management
                                </h3>
                                <p>
                                    SEO, Marketing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="studio_button">Full Case</button>
            </div>
        </div>
        <div class="main_web_checker">
            <div class="main_web_checker_container">
                <h2 class="checker_title">
                    Receive your free seo report best analysis
                </h2>
                <h2 class="checker_title_2">
                    Now...
                </h2>
                <div class="checker_input_container">
                    <input placeholder="Your Website Here....." type="text" class="checker__input">
                    <button class="checker__button">Check Now</button>
                </div>
            </div>
        </div>
        <div class="main__studio__container">
            <div class="plan__case__studio">
                <div class="main_sercices_title">
                    <h2 class="orange">Our</h2>
                    <h2> Pricing Plan</h2>
                </div>
                <span class="main_studio_text">
                    There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by
                    injected humour, or randomised words
                </span>
                <div class="plan__boxs__container">
                    <div class="plan__box">
                        <div class="plan_img_container">
                            <img class="plan_img" src="../images/_Path_table.png" alt="">
                        </div>
                        <h3> basic plan</h3>
                        <h2>$87.96</h2>
                        <div class="plan_box_wrapper">
                            <div class="box__texts">
                                <p> <i class="fas fa-check"></i>
                                    25 analytics campaigns
                                </p>
                                <p> <i class="fas fa-check"></i>
                                    includes branded reports
                                </p>
                                <p> <i class="fas fa-check"></i>
                                    1 domain every 20 minutes
                                </p>
                                <p> <i class="fas fa-check"></i>
                                    50 social accounts
                                </p>
                                <p> <i class="fas fa-check"></i>
                                    1,250,000 crawled pages
                                </p>
                            </div>
                            <button class="plan__button">Choice Plan</button>
                        </div>
                    </div>
                    <div class="plan__box">
                        <div class="plan_img_container">
                            <img class="plan_img" src="../images/_Path_books.png" alt="">
                        </div>
                        <h3> basic plan</h3>
                        <h2>$122.96</h2>
                        <div class="plan_box_wrapper">
                            <div class="box__texts">
                                <p> <i class="fas fa-check"></i>
                                    25 analytics campaigns
                                </p>
                                <p> <i class="fas fa-check"></i>
                                    includes branded reports
                                </p>
                                <p> <i class="fas fa-check"></i>
                                    1 domain every 20 minutes
                                </p>
                                <p> <i class="fas fa-check"></i>
                                    50 social accounts
                                </p>
                                <p> <i class="fas fa-check"></i>
                                    1,250,000 crawled pages
                                </p>
                            </div>
                            <button class="plan__button">Choice Plan</button>
                        </div>
                    </div>
                    <div class="plan__box">
                        <div class="plan_img_container">
                            <img class="plan_img" src="../images/_Path_arrow.png" alt="">
                        </div>
                        <h3> basic plan</h3>
                        <h2>$780.96</h2>
                        <div class="plan_box_wrapper">
                            <div class="box__texts">
                                <p> <i class="fas fa-check"></i>
                                    25 analytics campaigns
                                </p>
                                <p> <i class="fas fa-check"></i>
                                    includes branded reports
                                </p>
                                <p> <i class="fas fa-check"></i>
                                    1 domain every 20 minutes
                                </p>
                                <p> <i class="fas fa-check"></i>
                                    50 social accounts
                                </p>
                                <p> <i class="fas fa-check"></i>
                                    1,250,000 crawled pages
                                </p>
                            </div>
                            <button class="plan__button">Choice Plan</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="plan__studio__container">
            <div class="plan__case__studio">
                <div class="main_sercices_title">
                    <h2 class="orange">Our</h2>
                    <h2> Pricing Plan</h2>
                </div>
                <span class="main_studio_text">
                    There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by
                    injected humour, or randomised words
                </span>
                <div class="plan__boxs__container">
                    <div class="plan__box_2">
                        <div class="plan_img_box">
                            <div class="plan_hover_menu">
                                    <a href="#" class="plan_sosial_links"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="plan_sosial_links"><i class="fab fa-behance"></i></a>
                                    <a href="#" class="plan_sosial_links"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#" class="plan_sosial_links"><i class="fab fa-vimeo-v"></i></a>
                                    <a href="#" class="plan_sosial_links"><i class="fab fa-twitter"></i></a>
                            </div>
                            <img src="../images/Vector Smart Object.png" alt="">
                        </div>
                        <div class="plan_box_wrapper_2">
                            <h3>jhone jonnery</h3>
                            <p>Leader  of  Founder</p>
                            <span>Lorem ipsum dolor sit in have to consectetur 
                                adipisicing years sed do eiusmod tempor voluptatem 
                                to more text on here .</span>
                        </div>
                    </div>
                    <div class="plan__box_2 green">
                            <div class="plan_img_box">
                                    <div class="plan_hover_menu">
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-behance"></i></a>
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-linkedin-in"></i></a>
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-vimeo-v"></i></a>
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-twitter"></i></a>
                                    </div>
                                    <img src="../images/Vector Smart Object.png" alt="">
                                </div>
                        <div class="plan_box_wrapper_2">
                            <h3>jhone jonnery</h3>
                            <p>Leader  of  Founder</p>
                            <span>Lorem ipsum dolor sit in have to consectetur 
                                adipisicing years sed do eiusmod tempor voluptatem 
                                to more text on here .</span>
                        </div>
                    </div>
                    <div class="plan__box_2">
                            <div class="plan_img_box">
                                    <div class="plan_hover_menu">
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-behance"></i></a>
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-linkedin-in"></i></a>
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-vimeo-v"></i></a>
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-twitter"></i></a>
                                    </div>
                                    <img src="../images/Vector Smart Object.png" alt="">
                                </div>
                        <div class="plan_box_wrapper_2">
                            <h3>jhone jonnery</h3>
                            <p>Leader  of  Founder</p>
                            <span>Lorem ipsum dolor sit in have to consectetur 
                                adipisicing years sed do eiusmod tempor voluptatem 
                                to more text on here .</span>
                        </div>
                    </div>
                    <div class="plan__box_2 green">
                            <div class="plan_img_box">
                                    <div class="plan_hover_menu">
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-behance"></i></a>
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-linkedin-in"></i></a>
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-vimeo-v"></i></a>
                                            <a href="#" class="plan_sosial_links"><i class="fab fa-twitter"></i></a>
                                    </div>
                                    <img src="../images/Vector Smart Object.png" alt="">
                                </div>
                        <div class="plan_box_wrapper_2">
                            <h3>jhone jonnery</h3>
                            <p>Leader  of  Founder</p>
                            <span>Lorem ipsum dolor sit in have to consectetur 
                                adipisicing years sed do eiusmod tempor voluptatem 
                                to more text on here .</span>
                        </div>
                    </div>

                </div>
                <div class="client__slider">
                        <div class="plan__slider_item"></div>
                        <div class="plan__slider_item"></div>
                        <div class="plan__slider_item"></div>
                    </div>
            </div>
        </div>
        <div class="main__clients__says">
            <div class="client__says_container">
                <div class="main_client_title">
                    <h2 class="white">Our</h2>
                    <h2>Clients Says</h2>
                </div>
                <span class="main_client_text">
                    There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by
                    injected humour, or randomised words
                </span>
                <div class="client__boxs__wrapper">
                    <div class="client_box">
                        <img class="client_box_img" src="../images/Vector Smart Object.png" alt="">    
                        <div class="client_box_wrapper">
                            <span>Lorem ipsum dolor sit amet, eiusmod consectetur to a 
                                adipisicing elit, sed a do eiusmod tempor trip a incididunt 
                                ut labore et dolore magna aliqua a Ut the enim ad minim veniam, 
                            </span>
                            <h3>MAIKEL  jhone</h3>
                            <p>Founder, Resummme.com</p>
                        </div>
                    </div>
                    <div class="client_box">
                            <img class="client_box_img" src="../images/Vector Smart Object.png" alt="">    
                            <div class="client_box_wrapper">
                                <span>Lorem ipsum dolor sit amet, eiusmod consectetur to a 
                                    adipisicing elit, sed a do eiusmod tempor trip a incididunt 
                                    ut labore et dolore magna aliqua a Ut the enim ad minim veniam, 
                                </span>
                                <h3>MAIKEL  jhone</h3>
                                <p>Founder, Resummme.com</p>
                            </div>
                    </div>
                </div>
                <div class="client__slider">
                    <div class="client__slider_item"></div>
                    <div class="client__slider_item"></div>
                    <div class="client__slider_item"></div>
                </div>
            </div>
            
            <img class="client_img" src="../images/rbig.jpg" alt="">
        </div>
        <div class="main_blog">
            <div class="main_sercices_title">
                <h2 class="orange">Our</h2>
                <h2>Letest Blog</h2>
            </div>
            <span class="main_studio_text">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
                injected humour, or randomised words
            </span>
            <div class="blog_boxs">
                <div class="blog__box">
                    <img src="../images/Company-Branding-and-SEO.png" alt="">
                    <div class="blog_box_wrapper">
                        <ul class="blog_box_list">
                            <li class="blog_box_item">
                                <i class="fas fa-user"></i>
                                <a href="#" class="blog_box_link">By Admin</a></li>
                            <li class="blog_box_item">
                                <i class="fas fa-comments"></i>
                                <a href="#" class="blog_box_link"> 56 Comments</a></li>
                            <li class="blog_box_item">
                                <i class="fas fa-heart"></i>
                                <a href="#" class="blog_box_link">96 Like</a></li>
                        </ul>
                        <h4>Clients Orders On His Phone</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur  to a the adipisicing elit, 
                            sed do eiusmod tempor so what incididunt ut labore et denim.the to in the  
                            adipisicing elit, 
                        </span>
                        <p>Loren More...</p>
                    </div>

                </div>
                <div class="blog__box">
                    <img src="../images/Company-Branding-and-SEO.png" alt="">
                    <div class="blog_box_wrapper">
                        <ul class="blog_box_list">
                            <li class="blog_box_item">
                                <i class="fas fa-user"></i>
                                <a href="#" class="blog_box_link">By Admin</a></li>
                            <li class="blog_box_item">
                                <i class="fas fa-comments"></i>
                                <a href="#" class="blog_box_link"> 56 Comments</a></li>
                            <li class="blog_box_item">
                                <i class="fas fa-heart"></i>
                                <a href="#" class="blog_box_link">96 Like</a></li>
                        </ul>
                        <h4>Clients Orders On His Phone</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur  to a the adipisicing elit, 
                            sed do eiusmod tempor so what incididunt ut labore et denim.the to in the  
                            adipisicing elit, 
                        </span>
                        <p>Loren More...</p>
                    </div>

                </div>
                <div class="blog__box">
                    <img src="../images/Company-Branding-and-SEO.png" alt="">
                    <div class="blog_box_wrapper">
                        <ul class="blog_box_list">
                            <li class="blog_box_item">
                                <i class="fas fa-user"></i>
                                <a href="#" class="blog_box_link">By Admin</a></li>
                            <li class="blog_box_item">
                                <i class="fas fa-comments"></i>
                                <a href="#" class="blog_box_link"> 56 Comments</a></li>
                            <li class="blog_box_item">
                                <i class="fas fa-heart"></i>
                                <a href="#" class="blog_box_link">96 Like</a></li>
                        </ul>
                        <h4>Clients Orders On His Phone</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur  to a the adipisicing elit, 
                            sed do eiusmod tempor so what incididunt ut labore et denim.the to in the  
                            adipisicing elit, 
                        </span>
                        <p>Loren More...</p>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_wrapper">
                <div>
                    <img src="../images/SEO_2.png" alt="" class="seo_logo_footer">
                </div>
                <p class="footer_seo_text">Lorem ipsum dolor sit amet, consectetur the shape adipisicing elit, sed do
                    eiusmod tempor incididunt a ut labore Lorem ipsum dolor sit amet, consectetur i adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore end
                </p>
                <p class="footer_seo_text">Lorem ipsum dolor sit amet, consectetur shape to a adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore
                </p>
                <p class="footer_seo_text">Lorem ipsum dolor sit amet, consectetur tob the a in araaadipisicing elit,
                    sed do eiusmod
                </p>
            </div>
            <div class="footer_wrapper">
                <h4 class="footer_title">
                    contact with us
                </h4>
                <input placeholder="Your Name Here*" type="text" class="footer_contact_input">
                <input placeholder="Your Email Here*" type="text" class="footer_contact_input">
                <input placeholder="Messages*" type="text" class="footer_contact_input_messenger">
                <button class="footer_button">Submit</button>
            </div>
            <div class="footer_wrapper">
                <h4 class="footer_title">
                    latest news
                </h4>
                <p class="footer_news_text">How can be successfull in market seo.maza Market place..</p>
                <p class="footer_news_data">13 Feb, 2016 / Business</p>
                <p class="footer_news_text">How can be successfull in market seo.maza Market place..</p>
                <p class="footer_news_data">13 Feb, 2016 / Business</p>
                <p class="footer_news_text">How can be successfull in market seo.maza Market place..</p>
                <p class="footer_news_data">13 Feb, 2016 / Business</p>
            </div>
        </div>
        <div class="footer_copyright">
            <span>Copyright © 2018 All Right by Thememarshall..</span>
        </div>

    </footer>

</body>

</html>